.nav {
  margin-left: 80px;
}

.list {
  display: flex;
  align-items: center;
}

.linkItem {
  margin-left: 59px;

  &:first-of-type {
    margin-left: 0;
  }
}

.link {
  padding: 12px 0;

  &.isActive {
    color: green;
  }
}
